// import
@import "libs/color.scss";
@import "libs/responsive.scss";
@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/function.scss";
@import "libs/font.scss";

//---- COLOR -----//
$color1: #10131c;
$color2: #212532;
$color3: #fff;
$color4: #bcbcc0;
$color5: #95999d;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $color1;
}
.navigation {
    position: relative;
    width: 70px;
    height: 70px;
    background: $color2;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    &.active {
        width: 200px;
        height: 200px;
    }
    & span {
        position: absolute;
        width: 7px;
        height: 7px;
        background: $color3;
    }
}
